*
{
    margin: 0;
    padding: -1;
    color: black;
    box-sizing: border-box;
    font-family: 'poppins'  sans-serif;
   
}
body
{
    background: #dfdbdb; 
    background-color: rgb(248, 247, 247);    
}
nav
{
    background: #1b1b1b;
    
}

nav .logo
{
    background-image: url(../photo/FCI\ logo.png);
    background-size: 70px;
    background-repeat:no-repeat;
    float: left;
    color: rgb(138, 6, 32);
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
    padding-left: 75px;
    font-family: initial;
}
 h1{
     padding: 10px;
    color:crimson;
    font: italic;
    background-color: rgb(255, 254, 254);
    width: 450px;
    margin: 0;
    border:8px solid rgb(136, 132, 132);
    border-radius: 50px;
    text-align: left;
}
 .depart{
    color: white;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
 }
ol{
font-family: initial;
font-size: 30px;
list-style-type: circle;
}
table{
display: block;
padding: 25px;
width:85%;
border-spacing: 1px;
font-family: Arial, Helvetica, sans-serif;
}
table td{
font-size: 20px;
padding: 15px;
background-color: #eee;
border: 3px solid #dfdddd;
}
table thead td{
background-color:rgb(14, 124, 124);
color: white;
font-weight: bold;
text-align: center;
border-color: rgb(180, 157, 157);
}
tbody{
    font-family: Arial, Helvetica, sans-serif;
}
.midlle{
    text-align: center;
    font-size: 25px;
    color: rgb(238, 107, 59);
    background-color: rgb(201, 200, 200);
    border-radius: 20px;

}
.SPECIAL{
    margin: 15px;
   font-size: 25px;
   width: 95%;
}
.SPECIAL2{
    margin: 15px;
    font-size: 25px;
    width: 95%;
color: rgb(38, 38, 209);
}
.container
{
    max-width: 1170px;
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
ul
{
    list-style: none;
}
.footer
{
    position: sticky;
    top: 100%;
    background: #1b1b1b;
    padding: 70px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4
{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a 
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3 ease;
}
.footer-col ul li a:hover
{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col form
{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.footer-col form .far
{
    font-size: 18px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}
.footer-col form input
{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.footer-col form button
{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.footer-col form button .fas
{
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.footer-col .social-links .fas
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
.footer-col .social-links .fas:hover
{
    color: black;
    background-color: cyan;
}
.footer-col .social-links a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
.footer-col .social-links a:hover
{
    color: black;
    background-color: cyan;
}
hr
{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright
{
    text-align: center;
    color: rgb(255, 255, 255);
}
.footer-col .underline
{
    width: 45%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.footer-col .underline span
{
    width: 15px;
    height: 100%;
    background: crimson;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving
{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}
@media(max-width:767px)
{
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px)
{
    .footer-col {
        width: 100%;
    }
}
