*
{
    
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body
{
    min-height: 100vh;
    background: #ffffff; 
    background-color: rgb(255, 255, 255);    
    
}
nav
{
    background: #1b1b1b;
}
nav:after
{
    content: '';
    clear: both;
    display: table;
}
nav .logo
{
    background-image: url(../photo/FCI\ logo.png);
    background-size: 70px;
    background-repeat:no-repeat;
    float: left;
    color: rgb(138, 6, 32);
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
    padding-left: 75px;
    font-family: initial;
}
div h1{
    padding: 10px;
    color:crimson;
    font:italic;
    background-color: rgb(255, 254, 254);
    width: 450px;
    margin: 0;
    border:8px solid rgb(136, 132, 132);
    border-radius: 50px;
    text-align:left;
}
 .depart{
    color: white;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
 }
 .bot
 {
    border-bottom: 1xp solid crimson;
 }
 .lon
  {
    color: royalblue;
  }
  .a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 200px;
  }
  .x
{
    margin: 20px;
    padding: 10px;
    background-color: gray;
    font-size: 20px;
    font-style: italic;
    float: left;
    width: 500px;
    color: crimson;
}
table{
padding: 25px;
width: 85%;
border-spacing: 1px;
font-family: Arial, Helvetica, sans-serif;
}
table td{
font-size: 20px;
padding: 15px;
background-color: #eee;
border: 3px solid #dfdddd;
}
.special{
margin: 15px;
font-size: 20px;
width: 95%;
}
.special2{margin: 15px;
}
.specia3
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}
.slider
{
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}
.slides
{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input
{
    display: none;
}
.slide
{
    width: 20%;
    transition: 2s;
}
.slide img
{
    width: 800px;
    height: 500px;
}
.navigation-manuel
{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manuel-btn
{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manuel-btn:not(:last-child)
{
    margin-right: 40px;
}
.manuel-btn:hover
{
    background: #40D3DC;
}
#radio1:checked ~ .first
{
    margin-left: 0;
}
#radio2:checked ~ .first
{
    margin-left: -20%;
}
#radio3:checked ~ .first
{
    margin-left: -40%;
}
#radio4:checked ~ .first
{
    margin-left: -60%;
}
.navigation-auto
{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;   
}
.navigation-auto div
{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child)
{
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1
{
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2
{
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3
{
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4
{
    background: #40D3DC;
}
.Slider
{
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}
.Slides
{
    width: 500%;
    height: 500px;
    display: flex;
}
.Slides input
{
    display: none;
}
.Slide
{
    width: 20%;
    transition: 2s;
}
.Slide img
{
    width: 800px;
    height: 500px;
}
.Navigation-Manuel
{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.Manuel-btn
{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.Manuel-btn:not(:last-child)
{
    margin-right: 40px;
}
.Manuel-btn:hover
{
    background: #40D3DC;
}
#Radio_1:checked ~ .first
{
    margin-left: 0;
}
#Radio_2:checked ~ .first
{
    margin-left: -20%;
}
#Radio_3:checked ~ .first
{
    margin-left: -40%;
}
#Radio_4:checked ~ .first
{
    margin-left: -60%;
}
.Navigation-Auto
{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;   
}
.Navigation-Auto div
{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.Navigation-Auto div:not(:last-child)
{
    margin-right: 40px;
}
#Radio_1:checked ~ .navigation-auto .auto-btn1
{
    background: #40D3DC;
}
#Radio_2:checked ~ .navigation-auto .auto-btn2
{
    background: #40D3DC;
}
#Radio_3:checked ~ .navigation-auto .auto-btn3
{
    background: #40D3DC;
}
#Radio_4:checked ~ .navigation-auto .auto-btn4
{
    background: #40D3DC;
}
.container
{
    max-width: 1170px;
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
ul
{
    list-style: none;
}
.footer
{
    position: sticky;
    top: 100%;
    background: #1b1b1b;
    padding: 70px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4
{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a 
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3 ease;
}
.footer-col ul li a:hover
{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col form
{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.footer-col form .far
{
    font-size: 18px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}
.footer-col form input
{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.footer-col form button
{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.footer-col form button .fas
{
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.footer-col .social-links .fas
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
.footer-col .social-links .fas:hover
{
    color: black;
    background-color: cyan;
}
.footer-col .social-links a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
.footer-col .social-links a:hover
{
    color: black;
    background-color: cyan;
}
hr
{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright
{
    text-align: center;
    color: rgb(255, 255, 255);
}
.footer-col .underline
{
    width: 45%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.footer-col .underline span
{
    width: 15px;
    height: 100%;
    background: crimson;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving
{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}
@media(max-width:767px)
{
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px)
{
    .footer-col {
        width: 100%;
    }
}